<h1 class="mt-4">Posts Listing</h1>

<% if allowed_to?(:create?, Post) %>
  <div class="mt-4">
    <%= button_to "New post", new_post_path, method: :get, class: "btn btn-primary"  %>
  </div>
<% end %>

<div class="mt-4">
  <% @posts.each do |post| %>
    <div class="list-group">
      <div class="card mb-5">
        <div class="card-header">
          <h5><%= post.title %></h5>
        </div>
        <div class="card-body">
          <b>Author: </b> <%= post.user.email %>
        </div>
        <div class="btn-group my-3">
          <%= button_to "Show", post, method: :get, class: "btn btn-primary mx-3" %>
          <% if allowed_to?(:update?, post) %>
            <%= button_to "Edit", edit_post_path(post), method: :get, class: "btn btn-primary mx-3" %>
            <%= button_to "Destroy", post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn btn-primary mx-3" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
