<h1 class="mt-4">Post</h1>

<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class="card-text"><%= @post.content %></p>
    <div class="mt-4">
      <%= button_to 'Back', :back, method: :get, class: "btn btn-primary" %>
    </div>
    <div class="mt-4">
      <% if @post.draft? %>
        <%= button_to 'Publish', post_publication_index_path(@post), method: :create, class: "btn btn-primary" %>
      <% else %>
        <%= button_to 'Unbublish', post_publication_path(@post), method: :delete, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
