<h1 class="mt-4">Post</h1>

<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title"><%= @post.title %></h5>
    <p class="card-text"><%= @post.content %></p>
    <div class="mt-4">
      <%= button_to 'Back', :back, method: :get, class: "btn btn-primary" %>
    </div>
    <% if allowed_to?(:publish?, @post) %>
      <div class="mt-4">
        <%= button_to 'Publish', post_publish_path(@post), method: :create, class: "btn btn-primary" %>
      </div>
    <% end %>
    <% if allowed_to?(:unpublish?, @post) %>
      <div class="mt-4">
        <%= button_to 'Unbublish', post_unpublish_path(@post), method: :delete, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
